# Zoho Books ERP Integration
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ORG_ID=
ZOHO_DATA_CENTRE=com
ZOHO_ORG_NAME=
ZOHO_ACCOUNT_ROU_ASSET=
ZOHO_ACCOUNT_LEASE_LIABILITY=
ZOHO_ACCOUNT_INTEREST_EXPENSE=
ZOHO_ACCOUNT_DEPRECIATION=
ZOHO_ACCOUNT_ACC_DEP_ROU=
ZOHO_ACCOUNT_CASH=
